*.iml
.gradle
.DS_Store
.gradle/
build/
/build
local.properties
/local.properties
.idea/
captures/
.externalNativeBuild/
.cxx/
*.log
*.aab
*.apk
output-metadata.json
*.jks
*.keystore
google-services.json
*.hprof
